<!doctype html>
<html ng-app="generatorApp">
  <head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="services.js"></script>
    <script src="controller.js"></script>
    <script type='text/javascript' src='jquery.js'></script>
    <script type='text/javascript' src='siopm.js'></script>
    <script type='text/javascript' src='lzbase62.min.js'></script>
    <script src="https://minipop.github.io/sionicjs/demo/pico.min.js"></script>
    <script src="https://minipop.github.io/sionicjs/dist/sionic.js"></script>

    <style type="text/css">
    textarea {
    width: 400px;
    height: 7em;
    }
    textarea.chord {
    height: 1em;
    }
    textarea.generated {
    height: 1em;
    }
    input.mtnns {
    width: 30px;
    }
    input.inptnmbrs {
    width: 200px;
    }
    input.inptrt {
    width: 200px;
    }
    </style>

    <title>MML和音生成器</title>
  </head>
  <body>
    <div ng-controller="generatorController">
      <span>コード進行を文字で入力すると、和音MMLを生成して演奏します</span>
      <br/>

      <span ng-show="p.inputText"><a href="https://github.com/cat2151/MML-chord-generator/blob/gh-pages/services.js" target="_blank">鳴らせるコードの一覧</a></span>

      <br/>
      <textarea class="chord" cols="80" rows="1"
        ng-model="p.inputText"
        placeholder="C や Bbm を書いてみてください"
        ng-change="generate()" ng-blur="generate()"
      ></textarea>

      <br/>
      <button ng-show="isiPhone()" ng-click='play()'>再生</button>

      <div ng-show="p.inputText">

        <span>ChordごとのTopNote上限</span>
        <span ng-repeat="m in p.maxTopNoteNums track by $index" ng-show="$index < getNoteNumbersList().length">
          <input type="text" ng-model="m.maxTopNoteNum" ng-change="generate()" class="mtnns">
        </span>

        <br/>
        <span>音色
          <select ng-model="p.prefixAllType" ng-init="p.prefixAllType='PREFIX_ALL_1'"
                  ng-change="setPrefixAllStrFromType()"
          >
            <option value="PREFIX_ALL_1">Piano or ユーザー音色</option>
            <option value="PREFIX_ALL_2">E.Piano</option>
            <option value="PREFIX_ALL_3">Brass1</option>
            <option value="PREFIX_ALL_4">Brass2</option>
            <option value="PREFIX_ALL_5">Brass3</option>
            <option value="">設定なし</option>
          </select>
        </span>

      </div>

      <hr/>

      <div>
        <input type="text" ng-model="p.inputNumbers"
          ng-change="getInputTextFromInputNumbers()" ng-blur="getInputTextFromInputNumbers()"
          placeholder="2 や V を書いてみてください" class="inptnmbrs"
        >
        <div ng-show="p.inputNumbers">
          <span>KEY : </span>
          <span ng-repeat="r in keyRadios">
            <label>
              <input type="radio" ng-model="p.chordKeyOffset" ng-change="getInputTextFromInputNumbers()"
                   value="{{r.id}}">
                   {{r.name}}
            </label>
          </span>
          <br/>

          <span>生成方式:
            <select ng-model="p.chordAddMode" ng-change="getInputTextFromInputNumbers()">
              <option value="DIATONIC">ダイアトニックコードを生成 (例)1 2 5 → CM7 - Dm7 - G7</option>
              <option value="NONE">そのまま (例)1 2 5 → C - D - G</option>
            </select>
            <br/>
          </span>

          <div ng-show="p.chordAddMode=='DIATONIC'">
            <label><input type="radio" value="TRIAD" ng-model="p.inputNumbersType" ng-change="getInputTextFromInputNumbers()"/>TRIAD</label>
            <label><input type="radio" value="SEVENTH" ng-model="p.inputNumbersType" ng-change="getInputTextFromInputNumbers()"/>SEVENTH</label>
            <label><input type="radio" value="NINTH" ng-model="p.inputNumbersType" ng-change="getInputTextFromInputNumbers()"/>NINTH</label>
            <br/>
          </div>

          <div>
            <span>Bass pedal point</span>
            <label><input type="radio" ng-value="null" ng-model="p.bassPedal" ng-init="p.bassPedal=null" ng-change="getInputTextFromInputNumbers()"/>なし</label>
            <label><input type="radio" ng-value="1" ng-model="p.bassPedal" ng-change="getInputTextFromInputNumbers()"/>I</label>
            <label><input type="radio" ng-value="2" ng-model="p.bassPedal" ng-change="getInputTextFromInputNumbers()"/>II</label>
            <label><input type="radio" ng-value="3" ng-model="p.bassPedal" ng-change="getInputTextFromInputNumbers()"/>III</label>
            <label><input type="radio" ng-value="4" ng-model="p.bassPedal" ng-change="getInputTextFromInputNumbers()"/>IV</label>
            <label><input type="radio" ng-value="5" ng-model="p.bassPedal" ng-change="getInputTextFromInputNumbers()"/>V</label>
            <label><input type="radio" ng-value="6" ng-model="p.bassPedal" ng-change="getInputTextFromInputNumbers()"/>VI</label>
            <label><input type="radio" ng-value="7" ng-model="p.bassPedal" ng-change="getInputTextFromInputNumbers()"/>VII</label>
            <br/>
          </div>

        </div>
      </div>

      <div ng-show="p.inputText">
        <hr/>
        <button ng-click='openTweet()'>ツイートする</button>
        <a href="https://twitter.com/search?q=%23mmlchordgen%20OR%20%23sionmml%20OR%20%23opmtone%20-RT&src=typd" target="_blank">ハッシュタグ検索</a>

        <hr/>
        <h3>MML生成結果:</h3>
        <span>
          結果確認用(改行なし) : {{generatedMml}}
          <br/>
          コピー用(改行あり) : 
          <textarea class="generated" cols="80" rows="1" readonly
            ng-model="generatedMml" placeholder="MML生成結果"
          ></textarea>
        </span>
        <hr/>
      </div>

      <div ng-show="p.inputText">
        <span>詳細設定</span>
        <label><input type="radio" ng-value="false" ng-model="p.dispDetailSetting" ng-init="p.dispDetailSetting=false"/>表示しない</label>
        <label><input type="radio" ng-value="true" ng-model="p.dispDetailSetting"/>表示する</label>
      </div>

      <div ng-show="p.dispDetailSetting">
        <span>Voicing:
          <select ng-model="p.voicingType" ng-change="generate()">
            <option value="CLOSE">Close</option>
            <option value="DROP2">Drop 2</option>
            <option value="DROP3">Drop 3</option>
            <option value="DROP24">Drop 2 & 4</option>
          </select>
        </span>
        <br/>

        <span>MML prefix:</span>
        <br/>
        <textarea cols="80" rows="5"
          ng-model="p.prefixAllStr"
          placeholder="OPM音色定義MMLを入力してください"
          ng-change="p.prefixAllType='PREFIX_ALL_1'; setPrefixAllStr(p.prefixAllStr); generate()"
          ng-blur="p.prefixAllType='PREFIX_ALL_1'; setPrefixAllStr(p.prefixAllStr); generate()"
        ></textarea>
        <br/>
        <span>track発音タイミングずらし用休符</span><input type="text" ng-model="p.delay" ng-init="p.delay='r48'"
          ng-change="generate()" ng-blur="generate()"
        >
        <br/>
        <span>CのルートNoteNumber</span><input type="text" ng-model="p.centerCnoteNum" ng-init="p.centerCnoteNum='60'"
          ng-change="generate()" ng-blur="generate()"
        >
        <br/>
        <span>TopNote上限</span><input type="text" ng-model="p.maxTopNoteNum" ng-init="p.maxTopNoteNum='72'"
          ng-change="resetMaxTopNoteNums()" ng-blur="resetMaxTopNoteNums()"
        >
        <br/>
        <span>BassNote上限</span><input type="text" ng-model="p.maxbassNoteNum" ng-init="p.maxbassNoteNum='48'"
          ng-change="generate()" ng-blur="generate()"
        >
        <br/>
        <span>MML track prefix:
          <select ng-model="p.prefixTrackType" ng-init="p.prefixTrackType='PREFIX_TRACK_1'"
                  ng-change="generate()"
          >
            <option value="PREFIX_TRACK_1">OPM@0</option>
            <option value="">なし</option>
          </select>
        </span>
        <br/>
        <span>rhythm:</span>
        <span ng-repeat="m in p.rhythmTemplates track by $index" ng-show="$index < getNoteNumbersList().length">
          <input type="text" ng-model="m.r"
            ng-change="generate()" ng-blur="generate()"
            placeholder="l16 c r r c r r c r" class="inptrt"
          >
        </span>
        <br/>
        <span>rhythm template:
          <input type="text" ng-model="p.rhythmTemplate" ng-init="p.rhythmTemplate='c'"
            ng-change="resetRhythmTemplates()" ng-blur="generate()"
            placeholder="l16 c r r c r r c r" class="inptrt"
          >
          <select ng-model="p.rhythmTemplate" ng-change="resetRhythmTemplates()">
            <option value="c">c</option>
            <option value="l2 c">l2 c</option>
            <option value="l1 c">l1 c</option>
            <option value="l16 c r r c r r c r">l16 c r r c r r c r</option>
            <option value="l16 c r c r r c r r">l16 c r c r r c r r</option>
            <option value="l16 c r r c r c r r">l16 c r r c r c r r</option>
          </select>
        </span>
        <br/>
        <span>MMLフォーマット:
          <select ng-model="p.mmlFormat" ng-init="p.mmlFormat='sion'"
                  ng-change="generate()"
          >
            <option value="sion">SiON (すたどんたんでお馴染み)</option>
            <option value="sionic">Pico.js + Sionic.js</option>
          </select>
        </span>
        <br/>
      </div>

      <div ng-show="p.inputText">
        <hr/>
        <span>デバッグ表示</span>
        <label><input type="radio" ng-value="false" ng-model="p.dispDebug" ng-init="p.dispDebug=false"/>表示しない</label>
        <label><input type="radio" ng-value="true" ng-model="p.dispDebug"/>表示する</label>
      </div>
      <div ng-show="p.dispDebug">

        <h4>getDecompressedParamsFromUrl</h4>
        <span>{{getDecompressedParamsFromUrl()}}</span>

        <h4>getCompressedParamsForUrl</h4>
        <span>{{getCompressedParamsForUrl()}}</span>

        <h4>getCompressedStrFromUrlFormat</h4>
        <span>{{getCompressedStrFromUrlFormat()}}</span>

        <h4>getStringifyStrFromUrlFormat</h4>
        <span>{{getStringifyStrFromUrlFormat()}}</span>

        <h4>noteNumbersList件数</h4>
        <span>{{getNoteNumbersList().length}}</span>

        <h4>maxTopNoteNums件数</h4>
        <span>{{p.maxTopNoteNums.length}}</span>

        <h4>mmlFormat</h4>
        <span>{{p.mmlFormat}}</span>

        <h4>prefixAllType</h4>
        <span>{{p.prefixAllType}}</span>

        <h4>prefixTrackType</h4>
        <span>{{p.prefixTrackType}}</span>

        <h4>getRootNoteType</h4>
        <span>{{getRootNoteType()}}</span>

        <h4>getChordType</h4>
        <span>{{getChordType()}}</span>

        <h4>getChordIntervals</h4>
        <span>{{getChordIntervals()}}</span>

        <h4>getChordNoteNumbers</h4>
        <span>{{getChordNoteNumbers()}}</span>

        <h4>getNoteMml1</h4>
        <span>{{getNoteMml1()}}</span>

        <h4>getNoteMmls</h4>
        <span>{{getNoteMmls()}}</span>

        <h4>getChordNames</h4>
        <span>{{getChordNames()}}</span>

        <h4>getNoteNumbersList</h4>
        <span>{{getNoteNumbersList()}}</span>

        <h4>getPivotNoteNumbers</h4>
        <span>{{getPivotNoteNumbers()}}</span>

        <h4>getChordsMml</h4>
        <span>{{getChordsMml()}}</span>

        <h4>getInventionNoteNumbers</h4>
        <span>{{getInventionNoteNumbers()}}</span>
      </div>

      <hr/>

      <div ng-show="p.inputText">
        <div>
          <a href="http://app.16dimensional.com/stadon/">すたどんたん</a>
        </div>
        <br/>
        <div>
          <a href="https://github.com/cat2151/MML-chord-generator/issues/13">音が途切れた場合はchromeを試すといいかも</a>
        </div>
        <br/>
        <div>
          <a href="https://github.com/cat2151/MML-chord-generator/">ソースファイル githubリポジトリ</a>
        </div>
        <br/>
        <div>
          <a href="https://github.com/keim/SiON/">Powered by SiON</a>
        </div>
      </div>
    </div>
  </body>
</html>
