<!doctype html>
<html ng-app="generatorApp">
  <head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="services.js"></script>
    <script src="controller.js"></script>
    <script type='text/javascript' src='jquery.js'></script>
    <script type='text/javascript' src='siopm.js'></script>
    <script type='text/javascript' src='lzbase62.min.js'></script>

    <style type="text/css">
    textarea {
    width: 400px;
    height: 7em;
    }
    textarea.chord {
    height: 1em;
    }
    input.mtnns {
    width: 30px;
    }
    </style>

    <title>MML和音生成器</title>
  </head>
  <body>
    <div ng-controller="generatorController">
      <div>
        <span>コード進行を文字で入力すると、和音MMLを生成して演奏します</span>
        <br/>
        <textarea class="chord" cols="80" rows="1"
          ng-model="inputText"
          placeholder="CやBbmを書いてみてください"
          ng-change="generate()" ng-blur="generate()"
        ></textarea>

        <br/>
        <span>ChordごとのTopNote上限</span>
        <span ng-repeat="m in maxTopNoteNums" ng-show="$index < getNoteNumbersList().length">
          <input type="text" ng-model="m.maxTopNoteNum" ng-change="generate()" class="mtnns">
        </span>

        <br/>
        <span>音色
          <select ng-model="prefixAllType" ng-init="prefixAllType='PREFIX_ALL_1'"
                  ng-change="setPrefixAllStrFromType()"
          >
            <option value="PREFIX_ALL_1">Piano or ユーザー音色</option>
            <option value="PREFIX_ALL_2">E.Piano</option>
            <option value="PREFIX_ALL_3">Brass1</option>
            <option value="PREFIX_ALL_4">Brass2</option>
            <option value="PREFIX_ALL_5">Brass3</option>
            <option value="">設定なし</option>
          </select>
        </span>

        <hr/>
        <h3>MML生成結果:</h3>
        <span>{{generatedMml}}</span>
        <hr/>
      </div>

      <div>
        <span>詳細設定</span>
        <label><input type="radio" ng-value="false" ng-model="dispDetailSetting" ng-init="dispDetailSetting=false"/>表示しない</label>
        <label><input type="radio" ng-value="true" ng-model="dispDetailSetting"/>表示する</label>
      </div>

      <div ng-show="dispDetailSetting">
        <span>MML prefix:</span>
        <br/>
        <textarea cols="80" rows="5"
          ng-model="prefixAllStr"
          placeholder="OPM音色定義MMLを入力してください"
          ng-change="prefixAllType='PREFIX_ALL_1'; setPrefixAllStr(prefixAllStr); generate()"
          ng-blur="prefixAllType='PREFIX_ALL_1'; setPrefixAllStr(prefixAllStr); generate()"
        ></textarea>
        <br/>
        <span>track発音タイミングずらし用休符<span><input type="text" ng-model="delay" ng-init="delay='r48'"
          ng-change="generate()" ng-blur="generate()"
        >
        <br/>
        <span>CのルートNoteNumber</span><input type="text" ng-model="centerCnoteNum" ng-init="centerCnoteNum='60'"
          ng-change="generate()" ng-blur="generate()"
        >
        <br/>
        <span>TopNote上限</span><input type="text" ng-model="maxTopNoteNum" ng-init="maxTopNoteNum='72'"
          ng-change="generate()" ng-blur="generate()"
        >
        <br/>
        <span>BassNote上限</span><input type="text" ng-model="maxbassNoteNum" ng-init="maxbassNoteNum='48'"
          ng-change="generate()" ng-blur="generate()"
        >
        <br/>
        <span>MML track prefix:
          <select ng-model="prefixTrackType" ng-init="prefixTrackType='PREFIX_TRACK_1'"
                  ng-change="generate()"
          >
            <option value="PREFIX_TRACK_1">OPM@0</option>
            <option value="">なし</option>
          </select>
        </span>
        <br/>
        <span>MMLフォーマット:
          <select ng-model="formatType" ng-init="formatType='SION'"
                  ng-change="generate()"
          >
            <option value="SION">SiON (すたどんたんでお馴染み)</option>
          </select>
        </span>

        <br/>
      </div>

      <div>
        <hr>
        <span>デバッグ表示</span>
        <label><input type="radio" ng-value="false" ng-model="dispDebug" ng-init="dispDebug=false"/>表示しない</label>
        <label><input type="radio" ng-value="true" ng-model="dispDebug"/>表示する</label>
      </div>
      <div ng-show="dispDebug">

        <h4>getCompressedStrFromUrlFormat</h4>
        <span>{{getCompressedStrFromUrlFormat()}}</span>

        <h4>getStringifyStrFromUrlFormat</h4>
        <span>{{getStringifyStrFromUrlFormat()}}</span>

        <h4>noteNumbersList件数</h4>
        <span>{{getNoteNumbersList().length}}</span>

        <h4>maxTopNoteNums件数</h4>
        <span>{{maxTopNoteNums.length}}</span>

        <h4>formatType</h4>
        <span>{{formatType}}</span>

        <h4>prefixAllType</h4>
        <span>{{prefixAllType}}</span>

        <h4>prefixTrackType</h4>
        <span>{{prefixTrackType}}</span>

        <h4>getRootNoteType</h4>
        <span>{{getRootNoteType()}}</span>

        <h4>getChordType</h4>
        <span>{{getChordType()}}</span>

        <h4>getChordIntervals</h4>
        <span>{{getChordIntervals()}}</span>

        <h4>getChordNoteNumbers</h4>
        <span>{{getChordNoteNumbers()}}</span>

        <h4>getNoteMml1</h4>
        <span>{{getNoteMml1()}}</span>

        <h4>getNoteMmls</h4>
        <span>{{getNoteMmls()}}</span>

        <h4>getChordNames</h4>
        <span>{{getChordNames()}}</span>

        <h4>getNoteNumbersList</h4>
        <span>{{getNoteNumbersList()}}</span>

        <h4>getPivotNoteNumbers</h4>
        <span>{{getPivotNoteNumbers()}}</span>

        <h4>getChordsMml</h4>
        <span>{{getChordsMml()}}</span>

        <h4>getInventionNoteNumbers</h4>
        <span>{{getInventionNoteNumbers()}}</span>
      </div>

      <hr>

      <div>
        <a href="http://app.16dimensional.com/stadon/">すたどんたん</a>
      </div>
      <br/>
      <div>
        <a href="https://github.com/cat2151/MML-chord-generator/issues/13">音が途切れた場合はchromeを試すといいかも</a>
      </div>
      <br/>
      <div>
        <a href="https://github.com/cat2151/MML-chord-generator/">ソースファイル githubリポジトリ</a>
      </div>
      <br/>
      <div>
        <a href="https://github.com/keim/SiON/">Powered by SiON</a>
      </div>
    </div>
  </body>
</html>
