<!doctype html>
<html ng-app="generatorApp">
  <head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="services.js"></script>
    <script src="controller.js"></script>
    <script type='text/javascript' src='jquery.js'></script>
    <script type='text/javascript' src='siopm.js'></script>
  </head>
  <body>
    <div ng-controller="generatorController">
      <div>
        <h1>Chord Nameを入力してください</h1>

        <input type="text" ng-model="inputText"
          placeholder="CやBbmを書いてみてください"
          ng-change="generate()"
        >
      </div>
      <br/>
      <span>MML prefix: 開発用1 MML全体
        <select ng-model="prefixAllType" ng-init="prefixAllType='PREFIX_ALL_1'">
          <option value="PREFIX_ALL_1">PREFIX_ALL_1</option>
          <option value="">なし</option>
        </select>
      </span>
      {{prefixAllType}}
      <br/>
      <span>MML prefix: 開発用2 trackごと
        <select ng-model="prefixTrackType" ng-init="prefixTrackType='PREFIX_TRACK_1'">
          <option value="PREFIX_TRACK_1">PREFIX_TRACK_1</option>
          <option value="">なし</option>
        </select>
      </span>
      {{prefixTrackType}}
      <br/>
      <span>MMLフォーマット:
        <select ng-model="formatType" ng-init="formatType='SION'">
          <option value="SION">SiON (すたどんたんでお馴染み)</option>
        </select>
      </span>
      {{formatType}}

      <hr>

      <h1>MML生成結果:</h1>
      <h2>{{generatedMml}}</h1>

      <h1>開発用:</h1>
      <h2>{{getRootNoteType()}}</h1>

      <h1>開発用:</h1>
      <h2>{{getChordType()}}</h1>

      <h1>開発用:</h1>
      <h2>{{getChordIntervals()}}</h1>

      <h1>開発用:</h1>
      <h2>{{getChordNoteNumbers()}}</h1>

      <h1>開発用:</h1>
      <h2>{{getNoteMml1()}}</h1>

      <h1>開発用:</h1>
      <h2>{{getNoteMmls()}}</h1>
    </div>

    <hr>

    <div>
      <a href="http://app.16dimensional.com/stadon/">すたどんたん</a>
    </div>
    <br/>
    <div>
      <a href="https://github.com/cat2151/MML-chord-generator/issues/13">音が途切れた場合はchromeを試すといいかも</a>
    </div>
    <br/>
    <div>
      <a href="https://github.com/cat2151/MML-chord-generator/">ソースファイル githubリポジトリ</a>
    </div>
    <br/>
    <div>
      <a href="https://github.com/keim/SiON/">Powered by SiON</a>
    </div>
  </body>
</html>
